{% extends 'gallery/base.html' %}
{% block title %}All Pictures{% endblock %}
{% block pictures_active %}active{% endblock %}

{% block body %}
<div class="container-fluid pictures-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'gallery:pictures' 'all' %}">View All</a></li>
                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'gallery:pictures' 'favorites' %}">Favorites</a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Picture Title</th>
                                <th>Artist</th>
                                <th>File</th>
                                <th>Collection</th>
                                <th>Favorite</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for picture in picture_list %}
                                <tr>
                                    <td>{{ picture.picture_title }}</td>
                                    <td>{{ picture.collection.artist }}</td>
                                    <td>
                                        <a target="_blank" href="{{ picture.audio_file.url }}">
                                            <button type="button" class="btn btn-success btn-xs">
                                                <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                            </button>
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{% url 'gallery:detail' picture.collection.id %}">
                                            <img src="{{ picture.collection.collection_logo.url }}" class="img-responsive" style="width: 20px; float: left; margin-right: 10px;" />
                                        </a>
                                        <a href="{% url 'gallery:detail' picture.collection.id %}">{{ picture.collection.collection_title }}</a>
                                    </td>
                                    <td>
                                        <a href="{% url 'gallery:favorite' picture.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if picture.is_favorite %}active{% endif %}"></span></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
